.watch-list-item-container {
    width: 100%;
    height: 100%;
}

.watch-list-item-header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #303030;
}

.background-green {
    background-color: green;
}

.background-light-red {
    background-color: purple;
}

.hunter-scanner-page-chart-area {
    position: relative;
    height: 30px;
    width: 100%;
    max-width: 200px;
}

.hunter-scanner-page-chart-area-wrap {
    position: absolute;
    right: 100px;
}

.hunter-watch-list-item-wrap {
    overflow-y: auto;
}