.main-container {
  width: 100%;
  margin: 20px 0 20px 0;
}

.select-wrape {
  display: flex;
  /* width: 200px; */
  /* height: 30px; */
}

.select-wrape .Select {
  max-width: 200px;
}

.graphs-container {
  height: calc(100vh - 56px);
  padding: 20px;
  overflow-y: scroll;
}

.grap-container-wrap {
  width: 100%;
  height: 100%;
}

.graph-container {
  border: 2px solid;
  height: 100%;
}

.graphs-container > .row {
  padding-bottom: 20px;
}

.graphs-container > .full-height {
  height: 100%
}

.graphs-container > .half-height {
  height: 50%
}



.graphs-container .row .graph-container > div {
  height: 100%;
}
.graphs-container .row .graph-container > .select-wrape {
  height: 20px;
}

.graphs-container .row .graph-container > div > div {
  height: calc(100% - 40px);
}

.graphs-container .row .graph-container > div > div .react-stockchart {
  height: 100%!important;
}

.graphs-container .row .graph-container > div > div .react-stockchart > div {
  height: 100%;
}
.graphs-container .row .graph-container > div > div .react-stockchart > div canvas {
  height: 100%!important;
}

.graphs-container .row .graph-container > div label {
  display: none;
}

.graphs-container .row .graph-container > div select {
  display: none;
}
.select-wrape{
  align-items: center;
  margin-top: 10px;
}
.select-wrape > div {
  display: table;
  margin-left: 10px;
}

.select-wrape .Select {
  z-index: 1000;
  position: relative;
  width: 100%;
}

.select-option {
  width: 200px;
  z-index: 1000;
  position: relative;
  margin-right: 30px;
}

.select-multi-option {
  min-width: 200px;
  z-index: 1000;
  position: relative;
  margin-right: 30px;
}

#type {
  display: none;
}

.select-wrape ~ div label {
  display: none;
}

.dark {
  background: #303030;
}

.dark .react-stockcharts-tooltip {
  fill: white;
}

.dark strong {
  color: white;
}

/* .react-stockcharts-tooltip {
  fill: red;
} */
.react-stockcharts-tooltip-label {
  fill: white;
}